<div>
<p>Поділитися:</p>
<a href="https://t.me/share/url?url={{site.url}}{{page.url}}&text=5e українською {{page.title}}" target="_blank"><i class="fab fa-2x fa-telegram" title="поділитися через Telegram"></i></a>
<a href="//www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&quote=5e українською {{page.title}}" target="_blank"><i class="fab fa-2x fa-facebook" title="поділитися у Facebook"></i></a>
<a href="whatsapp://send?text=5e українською%20{{site.url}}{{page.url}}" target="_blank"><i class="fab fa-2x fa-whatsapp" title="поділитися у Whatsapp"></i></a>
<a href="viber://forward?text=5e українською%20{{site.url}}{{page.url}}" target="_blank"><i class="fab fa-2x fa-viber" title="поділитися у Viber"></i></a>
<a href="mailto:?subject=5e українською%20&body={{site.url}}{{page.url}}" target="_blank"><i class="fa fa-2x fa-envelope" title="поділитися поштою"></i></a>
</div>
