<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>{{ site.description }}</p>
    </div>
      <nav class="sidebar-nav">
<a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Домашня сторінка</a>  
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/docs/character/index.html">Персонаж</a>   
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/docs/rules/index.html">Правила та здібності</a>  
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/docs/combat/index.html">Бій</a>  
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/docs/spellcasting/index.html">Чарування</a>  
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/docs/adventuring/index.html">Пригоди</a>  
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/docs/gamemaster_rules/index.html">Правила майстра</a>  
<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/gen">Генератор монстрів</a>  
     <div class="sidebar-item">
    <p>
  &copy; {{ site.time | date: '%Y' }}. Ліцензія на вміст OGL1.0a.
    </p>
    <p>
  &copy; {{ site.time | date: '%Y' }} Переклад українською Olha_Tuomari
    </p>
  </div>
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}/credits.html">Над проєктом працювали</a>
     
  </nav>
     
    <div class="sidebar-item">
        <!-- <p>
            &copy; {{ site.time | date: '%Y' }}
        </p> -->
    </div>
</div>
